h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.main {
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.625rem;
  background-color: white;
}

p {
  text-align: center;
  font-size: 1.125rem;
}
input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.625rem;
  width: 70%;
}
.input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}
.input:focus {
  border: 20000px solid blue;
}
